<section class="c-tile-list {{ grid ? 'c-tile-list--grid' }}">
  <div class="c-tile-list__title {{ filters ? 'c-tile-list__title--with-filters' }} {{ grid ? 'c-tile-list__title--grid' }}">
    {% include 'components/c-title/c-title.twig' with {
      level: 'h2',
      title: title,
    } %}

    {% if filters %}
      <div class="c-tile-list__filters">
        <button class="c-tile-list__filter-button">Все</button>

        <div class="c-tile-list__filter-list">
          {% set badges = [{
            'name': 'Все',
          }] %}
          {% for filterParam, filterOptions in filters %}
            {% for filterOptionValue, filterOptionName in filterOptions %}
              {% set badges = badges | merge([{
                'name': filterOptionName,
                'param': filterParam,
                'value': filterOptionValue,
              }]) %}
            {% endfor %}
          {% endfor %}
          {% include 'components/c-badges/c-badges.twig' %}
        </div>
      </div>
    {% endif %}

    <button class="c-tile-list__page-button c-tile-list__page-button--prev" aria-label="Показать предыдущую страницу">
    </button>
    <button class="c-tile-list__page-button c-tile-list__page-button--next" aria-label="Показать следующую страницу">
    </button>
  </div>


  <div class="c-tile-list__tiles {{ grid ? 'c-tile-list__tiles--grid' }}">
    <ul class="c-tile-list__tiles-container {{ grid ? 'c-tile-list__tiles-container--grid' }}">
      {% for tile in tiles %}
        {% set data = '' %}
        {% for paramKey, paramValue in tile.param %}
          {% set data = data ~ 'data-' ~ paramKey ~ '="' ~paramValue ~ '" ' %}
        {% endfor %}
        <li class="c-tile-list__tile {{ grid ? 'c-tile-list__tile--grid' }}" {{ data }}>
          {% include 'components/c-tile/c-tile.twig' with {
            icon: tile.icon,
            title: tile.title,
            description: tile.description,
            dialogType: tile.dialogType,
            style: style,
          }%}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
